<!DOCTYPE html>
<html>
<meta charset="utf-8">
<h6>{{ Pname }}</h6>
<h6>{{ PSchool }}</h6>
<h6>{{ PDriection }}</h6>
<h6>{{ Pclass }}</h6>
<body>
<table border='1' cellspacing="0">
<caption>{{name}}的个人课表</caption>
<tr>
	<td></td>
	<td>周一</td>
	<td>周二</td>
	<td>周三</td>
	<td>周四</td>
	<td>周五</td>
</tr>
<tr>
	<td>一二节</td>
	<td>{{one12}}</td>
	<td>{{two12}}</td>
	<td>{{three12}}</td>
	<td>{{four12}}</td>
	<td>{{five12}}</td>
</tr>
<tr>
	<td>三四节</td>
	<td>{{one34}}</td>
	<td>{{two34}}</td>
	<td>{{three34}}</td>
	<td>{{four34}}</td>
	<td>{{five34}}</td>
</tr>
<tr>
	<td>五六节</td>
	<td>{{one56}}</td>
	<td>{{two56}}</td>
	<td>{{three56}}</td>
	<td>{{four56}}</td>
	<td>{{five56}}</td>
</tr>
<tr>
	<td>七八节</td>
	<td>{{one78}}</td>
	<td>{{two78}}</td>
	<td>{{three78}}</td>
	<td>{{four78}}</td>
	<td>{{five78}}</td>
</tr>
<tr>
	<td>九十节</td>
	<td>{{one90}}</td>
	<td>{{two90}}</td>
	<td>{{three90}}</td>
	<td>{{four90}}</td>
	<td>{{five90}}</td>
</tr>
</table>
</body>
</html>
