<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Article Page</title>
</head>
<body>
<h1 align="center">{{ article.title }}</h1>
<h4>{{ article.content }}</h4>
<br/><br/>
<a href="{% url 'blog:edit_page' article.id %}">修改文章</a>
<br/>
<br/>
<label postion:fixed>添加评论


<form action="{% url 'blog:article_page' article.id %}" method="post">
	{% csrf_token %}
<textarea rows="6" cols="60" style="resize:none;" name="discount" value=""></textarea>
<input type="submit" value="提交评论">
</form>


<h4>他人评论:</h4>
{% for talk in talks %}
	<ul>
		<h5>{{	talk.discount	}}</h5>
	</ul>
{% endfor %}
<!--
<h5>{{ article.discount }}</h5>
-->
</label>
</body>
</html>
